/* general */

body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-color: #a8ffef;
    font-size: 1.5em;
    color: #2b2b2b;
}

input {
    border: none;
    border-bottom: 3px solid #a8ffef;
    font-size: 1em;
}
 
ul {
    list-style-type: square;
}

li {
    display: flex;
    justify-content: space-between;
    font-size: 0.88em;
}

h4 {
    font-size: 1em;
}

/* layout */

.toDoBody {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px;
    background-color: pink; */
    flex-wrap: wrap;
}

.toDoCard {
    background-color: white;
    width: 30%;
    min-width: 200px;
    padding: 2rem;
    margin-top: 2em;
    border-radius: 5px;
}
.toDoCard-shade {
    -webkit-box-shadow: 8px 12px 22px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 8px 12px 22px 0px rgba(0,0,0,0.19);
    box-shadow: 8px 12px 22px 0px rgba(0,0,0,0.19);
}
.toDoList {
    border-radius: 4px;
    background-color: #59cdff;
    padding: 10px 15px;
}

.doneDoList {
    border-radius: 4px;
    background-color: #29ffd8;
    padding: 10px 15px;
}

.checked {
    background-color: #29ffd8;
}

.focus {
    background-color: #ebfcff;
    border-radius: 3px;
}

/* buttons */

button {
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
    margin: 4px 2px;
    left: 2rem;
    cursor: pointer;
}
.toDoList button {
    background-color: #07a1e3;
} 
.doneDoList button {
    background-color: #0ee3bc;
}
