body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-color: #a8ffef;
}

.checked {
    background-color: green;
}

.button {
    width:100px;
    height: 20px;
}

.toDoList {
    background-color: red;
}

.doneDoList {
    background-color: green;
}